.home-page {
  // background-color: #f8f8f8;
  min-height: 100vh;
  .tabs {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    background: #ffffff;
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    height: 44px;
    align-items: center;
    .holder {
      width: 10px;
      height: 100%;
      flex-shrink: 0;
    }
    .tab {
      text-align: center;
      width: 42px;
      flex-shrink: 0;
      opacity: 0.35;
      &.active {
        opacity: 1;
      }
      &.tab-all {
        color: #ee8787;
      }
    }
    .iconfont {
      font-size: 22px;
    }
  }
}
