.check-page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .add-plan {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #ee8787;
    // color: #5a91ff;
    margin-top: 20px;
    .iconfont {
      font-size: 14px;
      margin-left: 5px;
    }
  }

  .holder {
    flex: 1;
    min-height: 40px;
  }
  .go-check {
    padding: 20px 0;
    font-size: 14px;
    color: #707070;
    display: flex;
    justify-content: center;
    align-items: center;
    .link {
      color: #ee8787;
      margin-left: 5px;
    }
    .icon-right-arrow {
      color: #ee8787;
      font-size: 12px;
    }
  }
}
