.reading-list-page {
  padding-top: 48px;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .filter {
    position: fixed;
    background-color: #ffffff;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 44px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    &-item {
      display: flex;
      align-items: center;
      &.mode {
        width: 20px;
        text-align: center;
        .icon-suoluetu {
          font-size: 18px;
        }
      }
      &-label {
        font-family: 'PingFangSC-Regular';
        font-size: 16px;
        line-height: 36px;
        color: #222222;
        margin-right: 10px;
      }
      &-picker {
        width: 50px;
      }
      &-icon {
        transform: rotate(90deg);
        font-size: 14px;
        color: #222222;
        line-height: 24px;
      }
    }
  }

  .covers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-top: 10px;
    .item {
      margin: 0 20px 15px 0;
      width: 98px;
      // display: flex;
      // flex-direction: column;
      .cover {
        width: 100%;
        // height: 90px;
      }
      .name {
        font-size: 14px;
        line-height: 22px;
        color: #222222;
      }
    }
  }

  .gap {
    height: 34px;
    width: 375px;
  }
}
