@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_593502_ms1rvmvayc.eot');
  src: url('//at.alicdn.com/t/font_593502_ms1rvmvayc.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_593502_ms1rvmvayc.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_593502_ms1rvmvayc.woff') format('woff'),
  url('//at.alicdn.com/t/font_593502_ms1rvmvayc.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_593502_ms1rvmvayc.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 24px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-badminton:before {
  content: "\e604";
}

.icon-swimming:before {
  content: "\e603";
}

.icon-running:before {
  content: "\e655";
}

.icon-skipping:before {
  content: "\e608";
}

.icon-reading:before {
  content: "\e67f";
}

.icon-yoga:before {
  content: "\e781";
}

