@font-face {
  font-family: 'iconfont'; /* project id 593502 */
  src: url('//at.alicdn.com/t/font_593502_vg2tvelk8b.eot');
  src: url('//at.alicdn.com/t/font_593502_vg2tvelk8b.eot?#iefix')
      format('embedded-opentype'),
    url('//at.alicdn.com/t/font_593502_vg2tvelk8b.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_593502_vg2tvelk8b.woff') format('woff'),
    url('//at.alicdn.com/t/font_593502_vg2tvelk8b.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_593502_vg2tvelk8b.svg#iconfont') format('svg');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aixin:before {
  content: '\e622';
}
.icon-wubiaoqing:before {
  content: '\e64a';
}

.icon-cry:before {
  content: '\e620';
}

.icon-smile:before {
  content: '\e688';
}

.icon-yijieshu:before {
  content: '\e660';
}

.icon-jinxingzhong:before {
  content: '\e661';
}

.icon-weikaishi:before {
  content: '\e662';
}

.icon-todo:before {
  content: '\e60b';
}

.icon-write-list:before {
  content: '\e61a';
}

.icon-write:before {
  content: '\e62d';
}

.icon-record:before {
  content: '\e686';
}

.icon-finish:before {
  content: '\e691';
}

.icon-kaixinguo:before {
  content: '\e611';
}

.icon-schedule:before {
  content: '\e616';
}

.icon-gou:before {
  content: '\e628';
}

.icon-add:before {
  content: '\e607';
}

.icon-all:before {
  content: '\e6c6';
}

.icon-right-arrow:before {
  content: '\e684';
}

.icon-uncheck:before {
  content: '\eecd';
}

.icon-check:before {
  content: '\e600';
}

.icon-badminton:before {
  content: '\e604';
}

.icon-swimming:before {
  content: '\e603';
}

.icon-running:before {
  content: '\e655';
}

.icon-skipping:before {
  content: '\e608';
}

.icon-reading:before {
  content: '\e67f';
}

.icon-yoga:before {
  content: '\e781';
}
