@font-face {
  font-family: 'iconfont'; /* project id 593502 */
  src: url('//at.alicdn.com/t/font_593502_2sxme6xk2o.eot');
  src: url('//at.alicdn.com/t/font_593502_2sxme6xk2o.eot?#iefix')
      format('embedded-opentype'),
    url('//at.alicdn.com/t/font_593502_2sxme6xk2o.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_593502_2sxme6xk2o.woff') format('woff'),
    url('//at.alicdn.com/t/font_593502_2sxme6xk2o.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_593502_2sxme6xk2o.svg#iconfont') format('svg');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gou:before {
  content: '\e628';
}

.icon-add:before {
  content: '\e607';
}

.icon-all:before {
  content: '\e6c6';
}

.icon-right-arrow:before {
  content: '\e684';
}

.icon-uncheck:before {
  content: '\eecd';
}

.icon-check:before {
  content: '\e600';
}

.icon-badminton:before {
  content: '\e604';
}

.icon-swimming:before {
  content: '\e603';
}

.icon-running:before {
  content: '\e655';
}

.icon-skipping:before {
  content: '\e608';
}

.icon-reading:before {
  content: '\e67f';
}

.icon-yoga:before {
  content: '\e781';
}
