@import './assets/iconfont.less';
@import './styles/border.less';
@import './styles/color.less';

.theme1-border-color {
  border-color: @theme1 !important;
}
.theme2-border-color {
  border-color: @theme2 !important;
}
.theme3-border-color {
  border-color: @theme3 !important;
}
.theme4-border-color {
  border-color: @theme4 !important;
}
.theme5-border-color {
  border-color: @theme5 !important;
}
.theme6-border-color {
  border-color: @theme6 !important;
}
.theme7-border-color {
  border-color: @theme7 !important;
}
.theme8-border-color {
  border-color: @theme8 !important;
}
.theme9-border-color {
  border-color: @theme9 !important;
}
.theme10-border-color {
  border-color: @theme10 !important;
}
.theme11-border-color {
  border-color: @theme11 !important;
}
.theme12-border-color {
  border-color: @theme12 !important;
}
.theme13-border-color {
  border-color: @theme13 !important;
}
.theme14-border-color {
  border-color: @theme14 !important;
}
.theme15-border-color {
  border-color: @theme15 !important;
}
.theme16-border-color {
  border-color: @theme16 !important;
}
.theme17-border-color {
  border-color: @theme17 !important;
}
.theme18-border-color {
  border-color: @theme18 !important;
}
.theme19-border-color {
  border-color: @theme19 !important;
}
.theme20-border-color {
  border-color: @theme20 !important;
}
.theme21-border-color {
  border-color: @theme21 !important;
}
.theme22-border-color {
  border-color: @theme22 !important;
}
.theme23-border-color {
  border-color: @theme23 !important;
}
.theme24-border-color {
  border-color: @theme24 !important;
}
.theme25-border-color {
  border-color: @theme25 !important;
}
.theme26-border-color {
  border-color: @theme26 !important;
}
.theme27-border-color {
  border-color: @theme27 !important;
}
.theme28-border-color {
  border-color: @theme28 !important;
}

.theme1-color {
  color: @theme1 !important;
}
.theme2-color {
  color: @theme2 !important;
}
.theme3-color {
  color: @theme3 !important;
}
.theme4-color {
  color: @theme4 !important;
}
.theme5-color {
  color: @theme5 !important;
}
.theme6-color {
  color: @theme6 !important;
}
.theme7-color {
  color: @theme7 !important;
}
.theme8-color {
  color: @theme8 !important;
}
.theme9-color {
  color: @theme9 !important;
}
.theme10-color {
  color: @theme10 !important;
}
.theme11-color {
  color: @theme11 !important;
}
.theme12-color {
  color: @theme12 !important;
}
.theme13-color {
  color: @theme13 !important;
}
.theme14-color {
  color: @theme14 !important;
}
.theme15-color {
  color: @theme15 !important;
}
.theme16-color {
  color: @theme16 !important;
}
.theme17-color {
  color: @theme17 !important;
}
.theme18-color {
  color: @theme18 !important;
}
.theme19-color {
  color: @theme19 !important;
}
.theme20-color {
  color: @theme20 !important;
}
.theme21-color {
  color: @theme21 !important;
}
.theme22-color {
  color: @theme22 !important;
}
.theme23-color {
  color: @theme23 !important;
}
.theme24-color {
  color: @theme24 !important;
}
.theme25-color {
  color: @theme25 !important;
}
.theme26-color {
  color: @theme26 !important;
}
.theme27-color {
  color: @theme27 !important;
}
.theme28-color {
  color: @theme28 !important;
}

.theme1-background {
  background: @theme1 !important;
}
.theme2-background {
  background: @theme2 !important;
}
.theme3-background {
  background: @theme3 !important;
}
.theme4-background {
  background: @theme4 !important;
}
.theme5-background {
  background: @theme5 !important;
}
.theme6-background {
  background: @theme6 !important;
}
.theme7-background {
  background: @theme7 !important;
}
.theme8-background {
  background: @theme8 !important;
}
.theme9-background {
  background: @theme9 !important;
}
.theme10-background {
  background: @theme10 !important;
}
.theme11-background {
  background: @theme11 !important;
}
.theme12-background {
  background: @theme12 !important;
}
.theme13-background {
  background: @theme13 !important;
}
.theme14-background {
  background: @theme14 !important;
}
.theme15-background {
  background: @theme15 !important;
}
.theme16-background {
  background: @theme16 !important;
}
.theme17-background {
  background: @theme17 !important;
}
.theme18-background {
  background: @theme18 !important;
}
.theme19-background {
  background: @theme19 !important;
}
.theme20-background {
  background: @theme20 !important;
}
.theme21-background {
  background: @theme21 !important;
}
.theme22-background {
  background: @theme22 !important;
}
.theme23-background {
  background: @theme23 !important;
}
.theme24-background {
  background: @theme24 !important;
}
.theme25-background {
  background: @theme25 !important;
}
.theme26-background {
  background: @theme26 !important;
}
.theme27-background {
  background: @theme27 !important;
}
.theme28-background {
  background: @theme28 !important;
}
