.my-page {
  width: 375px;
  min-height: 100%;
  .header {
    width: 335px;
    height: 94px;
    box-sizing: border-box;
    margin: 0 20px;
    display: flex;
    align-items: center;
    .avatar {
      flex-shrink: 0;
      height: 54px;
      width: 54px;
      margin-right: 15px;
      border-radius: 50%;
      overflow: hidden;
    }
    .txt {
      flex: 1;
      overflow: hidden;
      font-size: 20px;
      font-family: 'PingFangSC-Medium';
      line-height: 30px;
      color: #222222;
      text-align: left;
      .txt-sub {
        margin-top: 5px;
        font-size: 14px;
        color: #999999;
        line-height: 1;
      }
    }
  }
  .list-item {
    height: 56px;
    margin: 0 20px;
    display: flex;
    align-items: center;
    .icon {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
    .item-title {
      flex: 1;
      font-size: 16px;
      font-family: 'PingFangSC-Regular';
      color: #222222;
    }
    .icon-right-arrow {
      color: #999999;
      margin-right: -4px;
    }
  }
}
